// Written by Sander van Kasteel
// License : GNU/GPL version 2

// -- Topbar overrides
.top-bar {
    background-color: $black;

    .menu {
        @include breakpoint(small only) {
            padding-top: 5px;
        }
    }

    a {
        text-decoration: none;

        &:hover {
            color: $primary-color;
            text-decoration: underline;
        }
    }

    strong {
        color: $white;
    }

    ul {
        background: $black;
        color: $white;

    }
}
.menu > li > a {
    @include breakpoint(small only) {
        padding: 0.7rem 1rem 0 0;
    }
}

.menu > li > a:first-child {
    @include breakpoint(small only) {
        padding-left: 0.2rem;
    }
}

a {
    text-decoration: underline;

    &:hover {
        color: $black;
    }
}

.switch {
    float: left;
    margin-right: .5rem;
}

.switch-text h5 {
    line-height: 30px;
}

.main-logo {
    padding: 25px 0;
}
// For small screens
@media screen and (max-width: 39.9375em) {
    .top-bar-title {
        strong {
            margin-left: 6px;
        }
    }

}

// For medium and large screens
@media screen and (min-width: 40em) {
    .top-bar {
        .top-bar-title {
            margin-top: 7px;
        }
    }
}